name: Buil Validation

on:
  push:
    branches: [ main, feature-* ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run build/test
      run: |
        if [ -f run.py ]; then python run.py; fi
        if [ -f test_app.py ]; then pip install pytest && pytest; fi
